{% extends "layout.html" %}
{% block content %}
<h2>Group Images</h2>

<form method="POST">
  <select name="mode">
    <option value="face_grouping">Face Grouping</option>
    <option value="clip_text_grouping">CLIP + Text Grouping</option>
  </select>
  <input type="text" name="prompt" placeholder="Enter prompt (optional)">
  <button type="submit">Group</button>
</form>


{% if groups %}
    <h3>Grouped Results:</h3>
    {% for group in groups %}
        <div class="group">
            <h4>Group {{ loop.index }}</h4>
            {% for img in group %}
                <img src="{{ url_for('static', filename='uploads/' + img) }}" width="100px">
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
